[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=MASSIVE Launcher
Exec=LD_LIBRARY_PATH=/opt/MassiveLauncher:$LD_LIBRARY_PATH /opt/MassiveLauncher/massive
Name=MASSIVE Launcher
Icon=/opt/MassiveLauncher/icons/MASSIVElogoTransparent128x128.png

