Package: massive-launcher
Version: VERSION-ARCHITECTURE
Section: misc
Priority: optional
Architecture: ARCHITECTURE
Essential: no
Installed-Size: XXINSTALLEDSIZE
Depends: libpango1.0-dev, turbovnc (>= 1.1)
Maintainer: Carlo Hamalainen (Monash University - CVL) <carlo.hamalainen@gmail.com>
Description: MASSIVE/CVL Launcher
 A cross-platform (wxPython) GUI to launch a secure remote desktop (VNC over SSH) session for the MASSIVE Desktop - https://www.massive.org.au/userguide/cluster-instructions/using-the-massive-desktop or for the Characterisation Virtual Laboratory (CVL) - https://www.nectar.org.au/characterisation-virtual-laboratory. Because the Launcher is not specific to one research group (driver) within the CVL, it is considered to be part of the "fabric" of the CVL.
